$bg0 = rgb(${BG0})
$bg1 = rgb(${BG1})
$bg2 = rgb(${BG2})
$bg3 = rgb(${BG3})
$bg4 = rgb(${BG4})
$bg5 = rgb(${BG5})

$fg0 = rgb(${FG0})
$fg1 = rgb(${FG1})
$fg2 = rgb(${FG2})
$fg3 = rgb(${FG3})

$red     = rgb(${RED})
$green   = rgb(${GREEN})
$yellow  = rgb(${YELLOW})
$blue    = rgb(${BLUE})
$magenta = rgb(${MAGENTA})
$cyan    = rgb(${CYAN})
$orange  = rgb(${ORANGE})
$purple  = rgb(${PURPLE})

$accent = rgb(${ACCENT})
$border = rgb(${BORDER})
