# Font
font_family      ${FONT_MONO}
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size        ${FONT_MONO_SIZE}

# Couleurs de base
foreground              #${FG0}
background              #${BG2}
selection_foreground    #${BG2}
selection_background    #${FG0}

cursor                  #${FG0}
cursor_text_color       #${BG2}

scrollbar_handle_color  #${FG3}
scrollbar_track_color   #${BG4}

url_color               #${ACCENT}

active_border_color     #${ACCENT}
inactive_border_color   #${BORDER}
bell_border_color       #${YELLOW}

wayland_titlebar_color  system

# Tabs
active_tab_foreground   #${BG0}
active_tab_background   #${ACCENT}
inactive_tab_foreground #${FG0}
inactive_tab_background #${BG1}
tab_bar_background      #${BG0}

# 16 couleurs ANSI
# black
color0  #${BG4}
color8  #${BG5}
# red
color1  #${RED}
color9  #${RED}
# green
color2  #${GREEN}
color10 #${GREEN}
# yellow
color3  #${YELLOW}
color11 #${YELLOW}
# blue
color4  #${BLUE}
color12 #${BLUE}
# magenta
color5  #${MAGENTA}
color13 #${MAGENTA}
# cyan
color6  #${CYAN}
color14 #${CYAN}
# white
color7  #${FG1}
color15 #${FG2}
