window {
  margin: 10px;
	background-color: #{{base00}};
	color: #{{base05}};
  font-family: {{font}}, monospace;
  font-size: {{font-size}}px;
}

#entry:selected {
	background-color: #{{base02}};
}

#inner-box {
  margin: 10px;
}

#input {
  margin: 10px;
  border: 0.11em solid;
  border-radius: 0;
	background-color: #{{base01}};
	color: #{{base04}};
	border-color: #{{base02}};
}

#input:focus {
	border-color: #{{base0A}};
}

#text {
  margin: 3px;
}
