@define-color bg0 #${BG0};
@define-color bg1 #${BG1};
@define-color bg2 #${BG2};
@define-color bg3 #${BG3};
@define-color bg4 #${BG4};
@define-color bg5 #${BG5};

@define-color fg0 #${FG0};
@define-color fg1 #${FG1};
@define-color fg2 #${FG2};
@define-color fg3 #${FG3};

@define-color red     #${RED};
@define-color green   #${GREEN};
@define-color yellow  #${YELLOW};
@define-color blue    #${BLUE};
@define-color magenta #${MAGENTA};
@define-color cyan    #${CYAN};
@define-color orange  #${ORANGE};
@define-color purple  #${PURPLE};

@define-color accent #${ACCENT};
@define-color border #${BORDER};

window {
  margin: 10px;
  background-color: @bg1;
  font-family: '${FONT_MONO}', monospace;
  font-size: 14px;
}

#inner-box {
  margin: 10px;
}

#input {
  margin: 10px;
  border: 0.11em solid @blue;
  border-radius: 0;
  color: @fg0;
  background-color: @bg0;
}

#input image {
  background-color: @bg1;
  color: @red;
}

#text {
  margin: 3px;
  color: @fg0;
}

#entry {
  background-color: @bg1;
}

#entry arrow {
  color: @accent;
}

#entry:selected #text {
  color: @purple;
}
